@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    font-family: "Manrope", sans-serif;
}

/*ESTILO PARA EL BODY*/
body{
    margin: 0;
    padding: 0;
}



/*Estilos HEADER*/

.logo {
    flex: 1;

}

.Logo{
    width: 80px;
    height: 80px;
}

.enlace {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}


.inicios{
    text-decoration: none;
    color: white;
    padding-right: 45px;
}


/* Estilo del dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.boton{
    background-color: sandybrown;
}

/* Estilo del botón del usuario */
.usuario {
    background-color: transparent;
    padding-right: 150px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.cerrarSesion{
    background-color: black;
}

.cerrar {
    background-color: transparent;

    color: white;

}

/* Ajuste de estilos adicionales según sea necesario */



/*CSS FINAL */
.numeros{
    border-radius: 50%;
    color: white;
    background-color: sandybrown;
    font-size: 20px;
    padding: 3px 10px;

}

.semana{
    color: white;
    font-size: 23px;
    font-weight: 700;

}

.menus{
    width: 200px;
    height: 200px;
}


/*INDEX*/

/*Titulo del carrousel*/

.h2Index {
    padding-top: 40px;
    padding-bottom: 40px;
}

.FotoComida {
    width: 450px;
    height: 450px;
}



.imgC{
    width: 900px;
    height: 2000px;
}




/*CARDS DEL INDEX*/
.cardindex{
    width: 200px;
    height: 400px;
}
.cardindex .FotoComida{
    width: 200px;
    height: 300px;
}

.h2index{
    justify-content: center;
}


/* Semanas show */

.enla{
    background-color: sandybrown;
    color: white;
    text-decoration: none;
}




/*CSS DE LA TABLA PELICULAS Y VISTA mostrar.blade.php de MOVIES*/

.cent {
    margin-left: 180px;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    padding-right: 100px;
}

.tablaPelis {
    width: auto;
    border-collapse: collapse;
    margin-top: 20px;
    margin-right: 100px;
    padding-right: 100px;
}

.tablaPelis tr {

    display: flex;
    justify-content: center;
}

.tablaPelis td {
    width: 25%;
    padding: 15px;
    margin-left: 50px;
    box-sizing: border-box;
    text-align: center; 
}

.imagenes {
    width: 200px;
    height: auto;
}

.mover{

margin-right: 50px;

}
/*CSS PARA LA VISTA INFO.BLADE DE MOVIES*/


.peliculas{
    padding-left: 100px;
}

/*ESTILOS PARA LA VISTA INFO.BLADE.PHP*/




.contenido {
    display: flex;
    align-items: flex-start;
}


.titulo-imagen {
    flex: 0 0 auto;
    margin-right: 20px;
}

.titulo-imagen img {
    width: 500px;
    max-width: 350px;
}

.parrafos {
    flex: 1; 
    text-align: left; 
    margin-top: 50px;
}

.parrafos p{
    margin-top: 50px;
}

.enlac{
    text-decoration: none;
    color: white;
}








  
/*INTRODUCCION A LA PÁGINA*/


/*CSS PARA LA VISTA DE COMIDA*/

.card {
    margin-bottom: 20px;
    padding: 10px;
}

.card img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
}




/*Estilos PROMOS*/
.content-container {
    padding-top: 20px; /* Agregamos un margen superior de 20px */
}

.promo-card {
    padding: 20px; /* Agregamos un padding de 20px */
}


/*ESTILOS LOGIN*/



/*FORMULRIO */
.formularioLogin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    border: 3px black solid;
    color: white;
    align-items: center;
    width: 350px;
    height: 350px;
}

.TituloLogin{
    text-align: center;
    font-size: large;
}

.olvidado{
    margin-top: 30px;
    text-decoration: none;
    color: white;
}

.Login{
justify-content: center;
margin-top: 30px;
}


/*Estilos Register*/

.Register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    border: 3px black solid;
}

/* Estilos footer */
footer{
    height: 88px;
    width: 100%;
    background-color: #212529;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}


footer div.info{
    margin-left: 10%;
}

footer div.copyright{
    margin-right: 3%;
}

footer div.copyright a{
    color: #9b9d9e;
}




.imgfooter{
    width: 200px;
    height: 100px;
}


.carousel-item img {
    max-height: 200px; /* Define aquí el tamaño máximo deseado */
  }
  

  /*CSS PROFILE EDIT*/
  .intro {
    padding-top: 20px;
    padding-bottom: 20px;
}


.nomb{
    color: white;
    background-color: black;
    padding-left: 30px;
    margin-left: 50px;
}
