@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    font-family: "Manrope", sans-serif;
}


/*ESTILO PARA EL BODY*/
body{
    margin: 0;
    padding: 0;
}

/*Estilos HEADER*/
.logo {
    flex: 1;

}
.Logo{
    width: 80px;
    height: 80px;
}
.enlace {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}
.inicios{
    text-decoration: none;
    color: white;
    padding-right: 45px;
}


/* Estilo del dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.boton{
    background-color: sandybrown;
}

/* Estilo del botón del usuario */
.usuario {
    background-color: transparent;
    padding-right: 150px;
    color: white;
    border: none;
    cursor: pointer;
}
.cerrarSesion{
    background-color: black;
}
.cerrar {
    background-color: transparent;
    color: white;
    background-color: black;
}

.user-dropdown{
    background-color: black;
    color: white;
}



/*INDEX*/
/*Titulo del carrousel*/
.carousel {
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  

.ftoc{
    margin: auto;
    display: block;
    width: 1300px;
    height: 1000px;
}

.carru{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*CSS CARDS INDEX*/
.card-c {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    margin-bottom: 10px;
    margin-right: 15px;
  }

  .card-img-top {
    object-fit: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 50px;
  }


  .card-img-top {
    height: 350px; 
    object-fit: cover;
  }

  .imagenPromIn{
    width: 300px;
  }



.imgMenuIn{
    width: 218px;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    columns: 2;
}

.pHeader{
    background-color: white;
    border: 2px solid black;
}

.cardPI{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;

}


/*Apartado comentarios*/
.testimonial-section {
    padding-top: 50px; 
}

.section-title {
    text-align: left;
}

/* Semanas show */
.enla{
    background-color: sandybrown;
    color: white;
    text-decoration: none;
}


/*Comentarios*/
.containerp{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
}

/*CSS DE LA TABLA PELICULAS Y VISTA mostrar.blade.php de MOVIES*/

.listaMostrar{
    list-style: none;
    padding-top: 50px;
    
}

.listaMostrar img{
    padding-bottom: 15px;
    width: 100px;
    height: 170px;
    margin-right: 10px;
}


/*Modal*/

    .modal-content{
        width: 700px;
    }

    .modalul{
        padding-top: 15px;
    list-style: none;
    }
  
    .modal-header{
        background-color: red;
        color: white;
    }

  .info {
    margin-left: 20px;
  }
  
  .imgMostrar{
    width: 20px;
    height: 20px;
  }
  .lado {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
#Modal{
    padding-top: 15px;
}

.botonModal{
    border: none;
    color: white;
}


/*CSS PARA VISTA TICKETS*/

.container {
    display: flex;
    justify-content: center;
  }
  
  .ticket {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #f3f1c9;
    border-radius: 10px;
    border: 2px solid #222;
    cursor: default;
    margin-top: 4em;
  }
  

  .ticketPrincipal {
    display: grid;
    padding: 10px;
    width: 500px;
  }

  .ticketHeader {
    grid-column: span 2;
    color: tomato;

  }

 
 




/* CSS para la vista de comida */


.comidaImg{
    height: 10%;
    object-fit: over;
}




/*Estilos PROMOS*/

.row{
    width: 1200px;
    padding: -250px;
}

.container{
    margin-bottom: 100px;
    margin-top: 100px;
    width: max-content;
}

.content-container {
    padding-top: 20px; 
}

.desc{
    font-size: smaller;
}

.promimg{
    width: 30px;
    height: 30px;
}

.tituloP{
    padding: 15px;
}



/*ESTILOS LOGIN*/

/*FORMULRIO */
.formularioLogin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 450px;
    border: 3px black solid;
    color: white;
    align-items: center;
}
.TituloLogin{
    text-align: center;
    font-size: large;
}
.olvidado{
    margin-top: 30px;
    text-decoration: none;
    color: white;
}


.Login{
    justify-content: center;
    margin-top: 30px;
}

/*Estilos Register*/
.Register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 550px;
    border: 3px black solid;
    color: white;
}

.log{
    color: white;
    text-decoration: none;
}

/* Estilos footer */
footer{
    height: 88px;
    width: 100%;
    background-color: #212529;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
footer div.info{
    margin-left: 10%;
}
footer div.copyright{
    margin-right: 3%;
}
footer div.copyright a{
    color: #9b9d9e;
}
.imgfooter{
    width: 200px;
    height: 100px;
}
.carousel-item img {
    max-height: 200px;
  }
  /*CSS PROFILE EDIT*/
  .intro {
    padding-top: 20px;
    padding-bottom: 20px;
}
.nomb{
    color: white;
    background-color: black;
    padding-left: 30px;
    margin-left: 50px;
}

/*ESTILOS PARA SHOW DE SALA*/
.asientos{
    width: 100px;
    height: 100px;
}
.Salas{
    margin-top: 50px;
    padding: 40px;
    margin: 0 auto; 
}

.Instrucciones {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding-bottom: 50px;
}

.Instrucciones p,
.Instrucciones img {
    margin: 0;
    padding: 10px;
}

.Instrucciones img {
    width: 100px; 
    height: 100px;
    margin: 0 10px;
}

.titPel{
    text-align: center;
    padding-bottom: 15px;
}


.pantallaCines{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pantalla{
    width: 500px;
}

/*CSS PARA EL APARTADO SHOWADMIN.PHP*/
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #f5f5f5;
}


.mod{
    color: white;
    text-decoration: none;
}


/*CSS PARA EL APARTADO FORM DE ADMIN*/
.container {
    max-width: 600px;
    margin: 0 auto;
}

.movie-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}



button[type="submit"] {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


.boton {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.container {
    display: flex;
    align-items: center;
    padding-top: 50px;
  }

  .container img {
    width: 200px;
    height: 400px;
    margin-right: 2rem;
  }

  .container h1 {
    text-align: center;
    width: 100%;
  }

  .botonSala {
    margin-top: 2rem;
    text-decoration: none;
  }

  .enlaceS{color: white;}


 .rox{
    justify-content: center;
    align-items: center;
    display: flex;
 }


 .containerr{
    display: flex;
    justify-content: center;
    align-items: center;
 }


 /*Resetear contraseña*/

 .centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
    }

 .resetear{
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 300px;
 }

 .botonRes{
    padding-top: 25px;
    width: 100px;
    margin-left: 33px;
 }

.infoRes{
    padding-top: 25px;
}

.INFORES{
    padding-top: 25px;
}


/*CSS GENÉRICO PARA EL APARTADO DE MODIFICAR DEL ADMINISTRADOR*/

.ModificarForm{
    width: 700px;
    height: 700px; 
    border: 2px solid black; 
    padding: 20px; 
    background-color: red;
    color: white;
}

/*CSS PARA EL FORMILARIO DE AÑADIR PELÍCULA*/
.AñadirForm{
    width: 1200px;
    height: 1050px; 
    border: 2px solid black; 
    padding: 20px; 
    background-color: red;
    color: white;
}

/*CSS PARA EL FORMULARIO DE AÑADIR USUARIOS*/
.UsuarioForm{
    width: 400px;
    height: 500px; 
    border: 2px solid black; 
    padding: 20px; 
    background-color: red;
    color: white;
}

/*CSS PARA EL FORMULARIO DE MODFIFICAR PROMOCIONES*/
.ModificarProm{
    width: 500px;
    height: 500px; 
    border: 2px solid black; 
    padding: 20px; 
    background-color: red;
    color: white;
    justify-content: center;
}


/*CSS PARA EL FORMULARIO AÑADIR PROMOCIONES*/
.AnadirProm{
    width: 500px;
    height: 600px; 
    border: 2px solid black; 
    padding: 30px; 
    background-color: red;
    color: white;
    justify-content: center;
}

/*CSS PARA EL FORMULARIO MODIFCAR MENUS*/
.ModificarMenu{
    width: 500px;
    height: 500px; 
    border: 2px solid black; 
    padding: 30px; 
    background-color: red;
    color: white;
    justify-content: center;
}


/*CSS PARA EL FORMULARIO AÑADIR MENUS*/
.AnadirMenu{
    width: 500px;
    height: 550px; 
    border: 2px solid black; 
    padding: 30px; 
    background-color: red;
    color: white;
    justify-content: center;
}



/*CSS PARA EL APARTADO AJUSTES DE USUARIOS*/

.ActualizarPerfil{
background-color: black;
color: white;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: row;
width: 500px;
height: 400px;
}


/*CSS PARA EL APARTADO CAMBIAR CONTRASEÑA*/
.CambiarContrasena{
    background-color: black;
color: white;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: row;
width: 500px;
height: 400px;
}






/*RESPONSIVE*/


/*RESPONSIVE IPAD AIR*/

/*Responsive para el index*/
@media (min-width: 768px) {

    /*INDEX USUARIO*/
    .card-c {
        flex-direction: row;
    }

    .card {
        width: 45%;
    }

    /*HEADER USUARIO*/
    .navbar-right {
        align-items: center;
    }
    .navbar-right .btn {
        width: auto;
    }
    .navbar-right .dropdown-toggle {
        width: auto;
    }



}

    






